<div class="container">
    <div class="tarea_container nuevas ">
        <h1>Nuevas</h1>
        <app-tarea [tarea]="tarea" *ngFor="let tarea of tareasPendientes$ |async"></app-tarea>
    </div>
    <div class="tarea_container proceso ">
        <h1>Proceso</h1>
        <app-tarea [tarea]="tarea" *ngFor="let tarea of tareasEnProceso$ |async"></app-tarea>
    </div>
    <div class="tarea_container terminadas ">
        <h1>Terminadas</h1>
        <app-tarea [tarea]="tarea" *ngFor="let tarea of tareasTerminadas$ |async"></app-tarea>
    </div>
</div>